* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

ul {
  list-style: none;
}

svg {
  cursor: pointer;
}

button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.reminders-container {
  margin: 0 auto;
  width: 700px;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 220px 1fr;
  align-items: center;
  border-radius: 10px;
}

/* -----SIDE-LIST------ */
.reminders-list {
  padding: 25px 0;
  background-color: #27303f;
  min-height: 500px;
  position: relative;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.reminders-list ul {
  color: #fff;
  margin-top: 20px;
  width: 100%;
}

.reminders-list ul li {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 0 20px;
}

.reminders-list button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  cursor: pointer;
  outline: none;
}

/* Add New List Form */
.new-list {
  width: 100%;
  background-color: #364152;
  position: relative;
}

.new-list input {
  background-color: #364152;
  outline: none;
  border: none;
  padding: 10px 20px;
  color: #bcece0;
  font-size: 14px;
  width: 100%;
}

.new-list input::placeholder {
  color: #888;
}

.new-list input:focus-within {
  border: 1px solid #bcece0;
}

.new-list__button svg {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.new-list__button svg {
  fill: #bcece0;
  font-size: 20px;
}

/* ----- REMINDERS----- */
.reminders {
  padding: 25px 40px 10px;
  background-color: #fff;
  min-height: 500px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

.reminders-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.reminders-header svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
}

.reminders ul {
  width: 100%;
}

.reminders ul li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  text-transform: capitalize;
}

.reminders ul li svg {
  color: #666;
}

h4 {
  color: rgb(88, 88, 88);
}

/* Add New Reminder Form */
.new-reminder {
  width: 100%;
  margin-left: -5px;
}

.new-reminder input {
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  padding: 10px 5px;
  color: #888;
  font-size: 14px;
}

.new-reminder input:focus-within {
  border: 1px solid #bcece0;
}

/* Delete List Btn */

.delete-list {
  color: #666;
  cursor: pointer;
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
  transition: all 0.3s linear;
}

.delete-list:hover {
  color: rgb(44, 44, 44);
}

/* Category reminder */

.category-reminder {
  margin-left: 10px;
  font-size: 12px;
  background-color: #f0f0f0;
  color: #666;
  text-transform: capitalize;
  padding: 3px 6px;
}
